name: Upload Packages

on:
  push:

  release:
    types: [published]

jobs:
  publish-python:
    name: Publish Python package
    runs-on: ubuntu-latest
    environment: release
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write
    steps:
    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Setup uv
      uses: astral-sh/setup-uv@v6
      with:
        enable-cache: true

    - name: Build package
      run: uv build

    - name: Publish to PyPI
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
      uses: pypa/gh-action-pypi-publish@release/v1
