on:
  push:
    branches:
    - main
  pull_request:
  workflow_dispatch:

name: Tests

env:
  QT_QPA_PLATFORM: offscreen
  DISPLAY: :99

jobs:
  pytest:
    strategy:
      fail-fast: false
      matrix:
        pyversion: ['3.10', '3.11', '3.12']
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Setup uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true

    - name: Install Linux dependencies
      run: |
        sudo apt-get update
        sudo apt-get install freeglut3-dev xvfb x11-utils llvm
        nohup Xvfb $DISPLAY -screen 0 1400x900x24 -dpi 96 +extension RANDR +render &

    - name: Run pytest
      run: uv run --python ${{ matrix.pyversion }} --locked pytest
